body{
    background-color: aliceblue;
}
h1, h4{
    text-align: center;
    font-weight: bold;
}

#jumbotron{
    padding: 0px;
    margin-bottom: 15px;
    background-color:dodgerblue;
    color: white;
}
.input-panel{
    background-color:navy;
    color: oldlace;
    height: 300px;   
}
.display-panel{
    background-color:lightsteelblue;
    color: black;
    height:300px;
}
#zip-code{
    width: 75%;
    height: auto;
    margin: 25px;
    margin-bottom: 0px;
}
button{
    margin: 10px 10px 25px 25px;
    /* margin-bottom: 75px; */
}
#history{
    margin: 25px;
    margin-bottom: 100%;
}
.day{
    width: 15%;
    height: 150px;
    margin: 10px;
    padding: 10px;
    background-color: navy;
    display: inline;
}
.current-temp{
    font-size: 175%;
    font-weight: bold;
    margin-top: 25px;
}
.location, .description{
    font-size: 150%;
}
#current{
    text-align: center;
}
.forecast{
    color:white;
    font-weight: bold;
}